/*
Error: Undefined mixin 'clearfix'.
        on line 23 of /Users/Tyson/circle/sass/circle/modules/containers.sass, in `clearfix'
        from line 23 of /Users/Tyson/circle/sass/circle/modules/containers.sass

18:       white-space: nowrap
19: 
20:   &--secondary
21:     &--module
22:       margin-bottom: 50px
23:       +clearfix
24:       > h1,
25:       > h2,
26:       > h3,
27:       > h4,
28:       > h5,

Backtrace:
/Users/Tyson/circle/sass/circle/modules/containers.sass:23:in `clearfix'
/Users/Tyson/circle/sass/circle/modules/containers.sass:23
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:338:in `block in visit_mixin'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:98:in `with_mixin'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:336:in `visit_mixin'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/Tyson/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'clearfix'.\A         on line 23 of /Users/Tyson/circle/sass/circle/modules/containers.sass, in `clearfix'\A         from line 23 of /Users/Tyson/circle/sass/circle/modules/containers.sass\A \A 18:       white-space: nowrap\A 19: \A 20:   &--secondary\A 21:     &--module\A 22:       margin-bottom: 50px\A 23:       +clearfix\A 24:       > h1,\A 25:       > h2,\A 26:       > h3,\A 27:       > h4,\A 28:       > h5,"; }
